.theBarContainer {
    width: 89%;
    /* margin-right: 5%; */
    margin-top: 2%;
    margin-left: 5%;
}

.theBar {
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.cartInfoSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
}

.columnTitle{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 89%;
margin-top: 2%;
margin-left: 5%;
border: 1px solid black;
padding-top: 1%;
padding-bottom: .5%;
border-radius: 5px 5px 0 0;
background-color: #5c3333;
}

.title{
    margin-right: 15%;
    color: antiquewhite;
}

.price{
    color: antiquewhite;
}

.total{
    margin-left: 15%;
    color: antiquewhite;
}

.fechData{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

