.theBarContainer {
    width: 89%;
    /* margin-right: 5%; */
    margin-top: 2%;
    margin-left: 5%;
}

.theBar {
    width: 100%;
}

.cartPageTitle {
 margin-left: 3%;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 1.5%;
}

.cartInfoSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
}

.columnTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 89%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: .5%;
    border-radius: 5px 5px 0 0;
    background-color: #5c3333;
  }
  
  .title, .total {
    margin-right: 20%;
    margin-left: 20%;
    color: antiquewhite;
  }
  
  .price {
    color: antiquewhite;
  }
  
  .fetchData {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%; 
  }

  .emptyCart{
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }

  .actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:  5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 2%;
  }

  .total{
    margin-left: 17%;
    
  }

  .total p {
    color: black;
  }

  .homeLink{
    margin: 3%;
    padding: 2%;
    width: 120px;
    background-color: rgb(220, 215, 215);
    color: rgb(0, 0, 0);
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin-left: 25%;
  }

  .homeLink:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
}

.clearCart{
  margin: 3%;
  padding: 2%;
  width: 120px;
  background-color: rgb(255, 128, 0);
  align-items: center;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.clearCart:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
}

.emptyCart{
  padding-bottom: 5%;
  border-bottom: 1px solid black;
  margin-left: 5.5%;
  margin-right: 6%;
}
  

