.menuHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b6ab8e;
    padding: 7%;
    min-width: 120px;
    border-radius: 5px 5px 0 0;
}

.types {
    background-color: rgb(30, 25, 25);
    min-width: 120px;
    padding: 5%;
    margin-top: 8%;
}

.types:hover {
    background-color: rgb(50, 45, 45); /* Change to a lighter shade on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.leftMenu {
    display: block;
}

.menuIcon {
    display: none;
    margin-top: 10%;
}

@media (max-width: 814px) {
    .leftMenu {
        display: none;
    }
    
    .showMenu {
        display: block;
        position: absolute;
    }
    
    .hideMenu {
        display: none;
    }

    .menuIcon {
        display: block;
    }
}

