.body{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 2%;
}

.menuDiv {
    margin-left: 5%;
}

.mainSection {
    width: 100%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theBarContainer {
    width: 100%;
    margin-right: 5%;
}

.theBar {
    width: 100%;
}