.body {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 2%;
}

.menuDiv {
    margin-left: 5%;
}

/* .mainSection {

} */


.contentContainer{
  width: 100%;
  margin-right: 5%;
}

.theBarContainer {
    width: 100%;
    /* margin-bottom: 5%; */
}

.theBar {
    width: 100%;

}

.searchResults {
  flex: 1;
  margin-left: 1%;
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1%;
  gap: 5%;
  width: 100%;
}

@media (min-height: 1000px) {
    .card {
        margin-left: 40%;
    }
}

@media (min-height: 1300px) {
    .card {
        margin: 0%;
        margin-top: 3%;
        align-items: center;
    }
}

@media (min-width: 300px) and (max-width: 450px){
    .card {
      margin-left: -7%;
    }
}

@media (min-width: 501px) and (max-width: 595px){
    .card {
      margin-left: 15%;
    }
}

@media (min-width: 595px) and (max-width: 660px){
    .card {
      margin-left: 30%;
    }
}

@media (min-width: 660px) and (max-width: 788px){
    .card {
      margin-left: 40%;
    }
}

@media (min-width: 788px) and (max-width: 814px){
    .card {
      margin-left: 0%;
    }
}

@media (min-width: 815px) and (max-width: 884px){
    .card {
      margin-left: 45%;
    }
}


@media (min-width: 885px) and (max-width: 939px){
    .card {
      margin-left: 0%;
    }
}


@media (min-width: 1050px) and (max-width: 884px){
    .card {
      margin-left: 45%;
    }
}

@media (min-width: 1150px) and (max-width: 1317px){
    .card {
      margin-left: 20%;
    }
}


@media (min-width: 1318px){
    .card {
      margin-left: 0%;
    }
}
