.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 89%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: .5%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 3%;
}

.pTitle{
    margin-bottom: 5%;
    text-decoration: underline;
}

.title{
    margin-right: 0%;
}

.price{
    display: flex;
    align-items: center;
}

.total{
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emptyCart{
    display: flex;
    justify-content: center;
}

.clearButton{
    margin-left: 50%;
}

.clearButton img {
    transition: transform 0.3s ease;
}

.clearButton:hover img {
    transform: scale(1.2);
}

