.topHeader {
    display: flex;
    justify-content: space-between;
    background-color: #b6ab8e;
}

.name {
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-left: 5%;
    text-align: start;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex: .4; 
    margin-right: 5%; 
}

.link {
    display: flex; 
    padding: 0; 
    margin: 0 1%; 
    list-style: none; 
}

.cartWrapper {
    margin-right: 3%;
}

.fullCart {
    position: relative;
    display: inline-block;
  }
  
  .cart {
    position: relative;
  }
  
  .itemsInCart {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .orangeBox {
    position:absolute;
    z-index: 1;
  }
  
  .numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white; /* or any color that makes the number visible */
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  /* Add this media query */
@media (max-width: 815px) {
  .nav {
      flex-direction: column;
      align-items: flex-start;
  }
  .nav a {
      margin-bottom: 10px; /* Add some spacing between nav links */
  }
}





