.topHeader {
    display: flex;
    justify-content: space-between;
    background-color: #c4b58d;
}

.name {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    text-align: start;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex: .4; /* This will allow the nav to expand and use up available space */
    margin-right: 3%; 
}

.link {
    display: flex; 
    padding: 0; 
    margin: 0 1%; 
    list-style: none; 
}

.cartWrapper {
    margin-right: 3%; /* This will give the cartWrapper a margin-right of 2.5% */
}





