.body {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    margin-top: 2%;
  }
  
  .menuSection {
    margin-left: 5%;
  }
  
  .mainSection {
    width: 75.2%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
  }
  
  .theBarContainer {
    width: 100%;
  }
  
  .theBar {
    width: 100%;
  }
  
  .card {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
    gap: 5%;
    width: 100%;
  }
  
  .productInfo {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .subtitle {
    margin-bottom: 10%;
  }
  
  .descriptionTitle {
    text-decoration: underline;
  }
  
  .description {
    margin-bottom: 5%;
  }
  
  .link {
    margin: 3%;
  }
  
  .artistLink {
    color: rgb(79, 21, 134);
    font-size: 16px;
  }
  
  .artistLink:hover {
    font-size: 18px;
  }
  
  .descriptionSection {
    margin-bottom: 10%;
    border-bottom: 2px solid #000;
  }
  
  .descriptionTitle {
    margin-bottom: 3%;
  }
  
  .productDetails,
  .imageWrapper {
    flex: 0 0 auto;
  }
  
  .product {
    margin-bottom: 3%;
  }
  
  .imageWrapper {
    margin-top: 2%;
    margin-bottom: 7%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .imageContainer {
    overflow: hidden;
  }
  
  .img {
    margin: 3%;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .img:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .custom-prev-arrow, .custom-next-arrow {
    background-color: rgba(0, 0, 0, 0.5); /* Change this to your desired color */
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
  }
  
  .custom-prev-arrow:hover, .custom-next-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the color on hover */
  }
  
  .custom-prev-arrow {
    left: -25px; /* Adjust positioning as needed */
  }
  
  .custom-next-arrow {
    right: -25px; /* Adjust positioning as needed */
  }
  
  

  .priceSection {
    margin: 3%;
  }
  
  .off {
    color: red;
  }
  
  .button {
    margin: 3%;
    padding: 1%;
    width: 120px;
    background-color: rgb(220, 215, 215);
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  }
  
  .OutOfStock {
    color: red;
  }
  
  .cart {
    margin-left: 5%;
  }

 
    